<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper admin">
        <header>
            <h1>Secret Message</h1>
            <h2>Admin Area</h2>
            <div class="button-area">
                <button type="button" class="button" onclick="location.href = '/'">Return</button>
            </div>
        </header>

        <main class="admin-main">
            
            <section class="user-message-area">
                <%- include("./partials/userInfo.ejs", { messages: messages, users: users }); %>
            </section>
        </main>

        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>