<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper become-admin">
        <header>
            <h1>Become an Admin?</h1>
        </header>
    
        <main class="become-admin">
            <h2>The secret admin administration registration area!</h2>
            <p>Current User: <%= user.username %> </p>
            <form action="/become-admin" method="post" class="admin-form">
                <div class="form-row">
                    <label for="isadmin">Become admin?</label>
                    <input type="checkbox" name="isadmin" id="isadmin">
                </div>
                <button type="submit">Submit</button>
                <button type="button" onclick="location.href='/'">Cancel</button>
            </form>
        </main>
    
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>