<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper become-admin">
        <header>
            <h1>Become an Admin?</h1>
        </header>
    
        <main class="become-admin">
            <h2>The secret admin administration registration area!</h2>
        </main>
    
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>