<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"), { title: title } %>
</head>
<body>
    <header>
        <%- include("./partials/header.ejs", { header: header }); %>
    </header>
    <main>
        <% if (locals.user) { %>
            <h2>You are logged in <%= user.username %></h2>
            <a href="/log-out">Log out</a>
        <% } else { %>
            <h2>Please log in</h2>
            <a href="/sign-in">Please log in</a>
        <% } %>
    </main>
    <footer>
        <%- include("./partials/footer.ejs", { links: links }); %>
    </footer>
</body>
</html>