<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper new-message">
        <header>
            <h1>Secret Message</h1>
            <h2>New Message</h2>
        </header>
        <main aria-labelledby="main" class="new-message">
            <h2 id="main">New Message!</h2>
            <form class="new-message-form" action="/new-message" method="post">
                <div class="form-row">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required minlength="1" maxlength="80" value="<%= message ? message.title : '' %>"/>
                </div>
                <div class="form-row">
                    <label for="body">Message Body:</label>
                    <textarea name="body" id="text-body" required rows="5" cols="30" minlength="1" maxlength="255"><%= message ? message.body : "" %></textarea>
                </div>
                <div class="form-row">
                    <button class="submit button" type="submit">Submit</button>
                    <button class="button" type="button" onclick="location.href='/'">Cancel</button>
                </div>
            </form>

        </main>
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>