<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper">
        <header>
            <%- include("./partials/header.ejs", { header: header }); %>
        </header>
        <main aria-labelledby="main">
            <h2 id="main">New Message!</h2>
            <form class="new-message" action="/message" method="post">
                <div class="form-row">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required />
                </div>
                <div class="form-row">
                    <label for="body">Message Body:</label>
                    <textarea name="body" id="text-body" required>

                    </textarea>
                </div>
                <div class="form-row">
                    <button class="submit" type="submit">Submit</button>
                    <a class="button cancel-button" href="/">Cancel</a>
                </div>
            </form>

        </main>
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>