<% messages.map((message) => { %>
    <article class="message">
        <h3 class="message-title">
            <%= message.title %>
        </h3>
        <div class="message-info">
            <p class="username">
                <%= user ? message.username : "Anonymous" %>
            </p>
            <p class="creation-date">
                <%= message.date %>
            </p>
        </div>
        <div class="message-body">
            <p>
               <%= message.body %> 
            </p>
        </div>
    </article>
<% }); %>