<% users.map((user) => { %> 
    <section class="user" aria-labelledby="user-area">
        
        <div class="user-information">
            <h4 id="user-area"><%= user.username %></h4>
            <p>User id: <%= user.id %></p>
            
        </div>
        <hr>
        <p>Messages:</p>
        <ul class="messages">
            <% messages.map((msg) => { %>
                <%  if (msg.id == user.id) { %>
                    
                    <% msg.messages.map((m) => { %>
                        <li class="message">
                            <form action="/admin" method="post">
                                <h5 class="message-title-reduced"><%= m.title %></h5>
                                <input type="hidden" name="id" value="<%= m.id %>">
                            
                                <button type="submit" class="button remove">X</button>
                            </form>
                        </li>
                    <% }); %>
                <% } %>
            <% }); %>
        </ul>
    </section>
<% }); %>
